@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background: url(Fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn_1{
    font-size: 22px;
    background-color: #1678f7;
    padding: 1em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
    border-radius: 10px;
    height: 25vh;
    width: 25vw;
    transition: 1s all;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    

}

.btn_1:hover{
    transition: 1s all;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    background-color: #044aa5;
}

.btn{
    color: #ffffff;
    font-size: 32px;
}

@media(min-width: 425px) {
    .btn_1 {
     font-size: 25px;
    }
   }